/*
MEDIA BREAKPOINTS
320 TO 719
720 TO 1023
1024+
*/

body{
    min-width: 320px;
    max-width: 719px;    
}

.section-1{
    margin: 5px 10px;
}

.article-1{
    box-sizing: border-box;
    width: 100%;
    height: 200px;
    margin: 5px auto;
    display: block;    

    border: solid 1px black;
}

.article-2{
    box-sizing: border-box;
    width: 100%;
    height: 200px;
    margin: 5px auto;
    display: block;    

    border: solid 1px black;
}

.article-3{
    box-sizing: border-box;
    width: 100%;
    height: 200px;
    margin: 5px auto;
    display: block;    

    border: solid 1px black;
}

.section-latest{
    margin: 5px 10px;
}

.latest-container{
    box-sizing: border-box;
    border: solid 1px red;
    width: 100%;
    margin: 5px auto;
}

.news-art{
    box-sizing: border-box;
    border: solid 1px black;
    margin: 5px auto;
    height: 100px;
}

.pic-box{
    height: 75px;
    width: 75px;
    background-color: blue;
    float: left;
    display: block;
    margin: 5px;
}

.info-art{
    box-sizing: border-box;
    border: solid 1px green;
    width: 70%;
    float: left;
}

@media only screen and (min-width: 720px) and (max-width: 1023px){
    body{
        min-width: 720px;
        max-width: 1023px;
    }

    .article-1{
        height: 405px;
        width: 65%;
        float: left;
    }

    .article-2{
        height: 200px;
        width: 34.5%;
        margin-bottom: 5px;
        float: right;
    }

    .article-3{
        height: 200px;
        width: 34.5%;        
        float: right;
    }

    .latest-container{
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     align-content: flex-end;
    }

    .news-art{
        width: 32%;
        height: 250px;
        margin: 2px;
    }

    .pic-box{
        float: none;
        height: 128px;
        width: 95%;
    }

    .info-art{
        width: 70%;
        float: none;
    }
}

@media only screen and (min-width: 1024px){
    body{
        min-width: 1024px;
        max-width: 1600px;
    }    
    
    .article-1 {
        height: 505px;
        width: 65%;
        float: left;
    }
    
    .article-2{        
        width: 34.5%;
        height: 250px;
        margin-bottom: 5px;        
        float: right;
    }
    
    .article-3{        
        width: 34.5%;
        height: 250px;
        float: right;
    }

    .latest-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-end;
       }
   
       .news-art{
           width: 24%;
           height: 250px;
           margin: 2px;
       }
   
       .pic-box{
           float: none;
           height: 128px;
           width: 95%;
       }
   
       .info-art{
           width: 70%;
           float: none;
       }
}